{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link  rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
    <title>Document</title>
</head>
<body class="has-bg-img" >
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel bg-steel.scrolled fixed-top">
          <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">FOOD FEAST</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
                <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    SPECIALS
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Recipe of the day</a>
                    <a class="dropdown-item" href="#">......</a>
                    <a class="dropdown-item" href="#">......</a>
                  </div>
                </li>
              </div>

              <!-- Navbar Right Side -->
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="#">Login</a>
                <a class="nav-item nav-link" href="#">Register</a>
              </div>
            </div>
          </div>
        </nav>
      </header>
      
      <main class="mt-5">
          <!-- {% block content %}{% endblock %} -->
        <div class="container">
            
            <section id="best-features" class="text-center">

                <!-- Heading -->
                <h2 class="mb-5 font-weight-bold">heading</h2>
              
                <!--Grid row-->
                <div class="row d-flex justify-content-center mb-4">
              
                    <!--Grid column-->
                    <div class="col-md-8">
              
                        <!-- Description -->
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate hic provident nulla repellat
                            facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis est
                            sit pariatur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate hic provident nulla repellat
                            facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis est
                            sit pariatur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate hic provident nulla repellat
                            facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis est
                            sit pariatur</p>
              
                    </div>
                    <!--Grid column-->
              
                </div>
                <!--Grid row-->
              
                
               
                <!--Grid row-->
              
              </section>
              <hr>
              <section id="best-features" class="text-center">

                <!-- Heading -->
              
                <!--Grid row-->
                <div class="row">
              
                    <!--Grid column-->
                    <div class="col-md-4 mb-5">
                        <i class="fas fa-camera-retro fa-4x orange-text"></i>
                        <h4 class="my-4 font-weight-bold">heading</h4>
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima
                            assumenda deleniti hic.</p>
                    </div>
                    <!--Grid column-->
              
                    <!--Grid column-->
                    <div class="col-md-4 mb-1">
                        <i class="fas fa-heart fa-4x orange-text"></i>
                        <h4 class="my-4 font-weight-bold">heading</h4>
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima
                            assumenda deleniti hic.</p>
                    </div>
                    <!--Grid column-->
              
                    <!--Grid column-->
                    <div class="col-md-4 mb-1">
                        <i class="fas fa-bicycle fa-4x orange-text"></i>
                        <h4 class="my-4 font-weight-bold">heading</h4>
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima
                            assumenda deleniti hic.</p>
                    </div>
                    <!--Grid column-->
              
                </div>
                <!--Grid row-->
              
              </section>
        </div>

        <hr>
        <div class="container">
            
            <section id="best-features" class="text-center">

                <!-- Heading -->
                <h2 class="mb-5 font-weight-bold">heading</h2>
              
                <!--Grid row-->
                <div class="row d-flex justify-content-center mb-4">
              
                    <!--Grid column-->
                    <div class="col-md-8">
              
                        <!-- Description -->
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate hic provident nulla repellat
                            facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis est
                            sit pariatur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate hic provident nulla repellat
                            facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis est
                            sit pariatur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate hic provident nulla repellat
                            facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis est
                            sit pariatur</p>
              
                    </div>
                    <!--Grid column-->
              
                </div>
                <!--Grid row-->
              
                
               
                <!--Grid row-->
              
              </section>
              <hr>
              <section id="best-features" class="text-center">

                <!-- Heading -->
              
                <!--Grid row-->
                <div class="row">
              
                    <!--Grid column-->
                    <div class="col-md-4 mb-5">
                        <i class="fas fa-camera-retro fa-4x orange-text"></i>
                        <h4 class="my-4 font-weight-bold">heading</h4>
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima
                            assumenda deleniti hic.</p>
                    </div>
                    <!--Grid column-->
              
                    <!--Grid column-->
                    <div class="col-md-4 mb-1">
                        <i class="fas fa-heart fa-4x orange-text"></i>
                        <h4 class="my-4 font-weight-bold">heading</h4>
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima
                            assumenda deleniti hic.</p>
                    </div>
                    <!--Grid column-->
              
                    <!--Grid column-->
                    <div class="col-md-4 mb-1">
                        <i class="fas fa-bicycle fa-4x orange-text"></i>
                        <h4 class="my-4 font-weight-bold">heading</h4>
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima
                            assumenda deleniti hic.</p>
                    </div>
                    <!--Grid column-->
              
                </div>
                <!--Grid row-->
              
              </section>
        </div>
        <div class="container">
            
            <section id="best-features" class="text-center">

                <!-- Heading -->
                <h2 class="mb-5 font-weight-bold">heading</h2>
              
                <!--Grid row-->
                <div class="row d-flex justify-content-center mb-4">
              
                    <!--Grid column-->
                    <div class="col-md-8">
              
                        <!-- Description -->
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate hic provident nulla repellat
                            facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis est
                            sit pariatur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate hic provident nulla repellat
                            facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis est
                            sit pariatur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate hic provident nulla repellat
                            facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis est
                            sit pariatur</p>
              
                    </div>
                    <!--Grid column-->
              
                </div>
                <!--Grid row-->
              
                
               
                <!--Grid row-->
              
              </section>
              <hr>
              <section id="best-features" class="text-center">

                <!-- Heading -->
              
                <!--Grid row-->
                <div class="row">
              
                    <!--Grid column-->
                    <div class="col-md-4 mb-5">
                        <i class="fas fa-camera-retro fa-4x orange-text"></i>
                        <h4 class="my-4 font-weight-bold">heading</h4>
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima
                            assumenda deleniti hic.</p>
                    </div>
                    <!--Grid column-->
              
                    <!--Grid column-->
                    <div class="col-md-4 mb-1">
                        <i class="fas fa-heart fa-4x orange-text"></i>
                        <h4 class="my-4 font-weight-bold">heading</h4>
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima
                            assumenda deleniti hic.</p>
                    </div>
                    <!--Grid column-->
              
                    <!--Grid column-->
                    <div class="col-md-4 mb-1">
                        <i class="fas fa-bicycle fa-4x orange-text"></i>
                        <h4 class="my-4 font-weight-bold">heading</h4>
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima
                            assumenda deleniti hic.</p>
                    </div>
                    <!--Grid column-->
              
                </div>
                <!--Grid row-->
              
              </section>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        $(window).scroll(function(){
            $('nav').toggleClass('scrolled',$(this).scrollTop()>200);
        });
    </script>

</body>
</html>